.heading{
    color: #5c940d;
    font-size: 50px;  
    margin-left: 22%; 
}
.body{
    background-color: #adb5bd;    
}
.body p{
    font-size: 30px;
    margin-left: 10%;
}
#react{
    margin-top: -18%;
    margin-left: 40%;
}
.student{
    background-color: #868e96;
}
.student img{
    border-radius: 50%;
    margin-left: 2%;
}
.student h1{
    color: #2b8a3e;
    font-size: 50px;  
    margin-left: 43%;   
}
#student{
    width: 400px;
}
#nkatha{
    width: 350px;
}
